@import "varibles";

h1 {
  color: $main-color;
  font-size: $font-main;
}
.footer {
  background: black;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding: 30px 0px;
}
.card {
  height: 100%;
}
