h1 {
  color: red;
  font-size: 30px; }

.footer {
  background: black;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding: 15px 0px; }

.card {
  height: 100%; }

.box-lyric {
  max-width: 450px;
  margin: auto;
  margin-top: 30px; }

.img-small {
  height: 40px; }

.music-box {
  margin-top: 50px; }
